extends layout

block content
form ( method='GET',action='/contactus',name=Contact Us)
table
tr 
td Name
td 
input (type='text'name='NAME',size='30')
tr 
td Age 
td 
input (type='text' name='AGE',size='30')
tr 
td phone number 
td 
input (type='text' name='PHONE NUMBER',size='30') 
tr 
td 
input (type=''SUBMIT')